In [58]:
import pandas as pd
import pyautogui
import time

In [32]:
df_leyes = pd.read_csv(r"C:\Users\house\Desktop\Minera Los Pelambres\Muestrera\Mapeo\Reporte cutting\Leyes DDH3973.csv")

In [33]:
df_leyes.drop(['Ident.', 'Zona mineral'], axis=1, inplace=True)
df_leyes.fillna(0, inplace=True)
df_leyes.head()

   Desde  Hasta  % Sulf    Py   Cpy    Cc   Bo    Mo
0    0.0    2.0    0.00  0.00  0.00  0.00  0.0  0.00
1    2.0    4.0    0.00  0.00  0.00  0.00  0.0  0.00
2    4.0    6.0    0.00  0.00  0.00  0.00  0.0  0.00
3    6.0    8.0    0.00  0.00  0.00  0.00  0.0  0.00
4    8.0   10.0    0.67  0.47  0.06  0.11  0.0  0.03

In [34]:
# Crear una copia del DataFrame original para modificarlo
df_leyes_depurado = df_leyes.copy()

#Eliminar filas inválidad, las que tienen todos los valores 0
columnas = ['Desde', 'Hasta', '% Sulf', 'Py', 'Cpy', 'Cc', 'Bo', 'Mo']
df_leyes_depurado = df_leyes_depurado.loc[~(df_leyes_depurado[columnas] == 0).all(axis=1)]

#Reemplazar las filas cuando tienen valores 0 en las leyes
columnas_leyes = ['% Sulf', 'Py', 'Cpy', 'Cc', 'Bo', 'Mo']
df_leyes_depurado.loc[(df_leyes_depurado[columnas_leyes] == 0).all(axis=1), ['% Sulf', 'Py']] = 0.001

# Agregar una fila inicial si el primer intervalo no comienza desde 0
if df_leyes_depurado['Desde'].iloc[0] > 0:
    first_row = {        
        'Desde': 0,
        'Hasta': df_leyes_depurado['Desde'].iloc[0],        
        '% Sulf': 0.001,
        'Py': 0.001,
        'Cpy': 0.0,
        'Cc': 0.0,
        'Bo': 0.0,
        'Mo': 0.0
    }
    # Insertar la fila inicial en la primera posición
    df_leyes_depurado = pd.concat([pd.DataFrame([first_row]), df_leyes_depurado], ignore_index=True)

# Crear filas para cubrir los gaps entre las filas existentes
rows_to_update = []
for i in range(1, len(df_leyes_depurado)):
    prev_hasta = df_leyes_depurado.iloc[i - 1]['Hasta']
    curr_desde = df_leyes_depurado.iloc[i]['Desde']
    
    if curr_desde > prev_hasta:  # Detectar gap
        gap_row = {            
            'Desde': prev_hasta,
            'Hasta': curr_desde,            
            '% Sulf': 0.001,
            'Py': 0.001,
            'Cpy': 0.0,
            'Cc': 0.0,
            'Bo': 0.0,
            'Mo': 0.0
        }
        rows_to_update.append((i, gap_row))

print(df_leyes_depurado)

     Desde  Hasta  % Sulf     Py   Cpy    Cc   Bo    Mo
0      0.0    2.0   0.001  0.001  0.00  0.00  0.0  0.00
1      2.0    4.0   0.001  0.001  0.00  0.00  0.0  0.00
2      4.0    6.0   0.001  0.001  0.00  0.00  0.0  0.00
3      6.0    8.0   0.001  0.001  0.00  0.00  0.0  0.00
4      8.0   10.0   0.670  0.470  0.06  0.11  0.0  0.03
..     ...    ...     ...    ...   ...   ...  ...   ...
301  602.0  604.0   2.060  0.360  1.59  0.00  0.0  0.11
302  604.0  606.0   1.950  0.360  1.50  0.00  0.0  0.09
303  606.0  608.0   1.720  0.340  1.30  0.00  0.0  0.08
304  608.0  610.0   2.000  0.350  1.33  0.00  0.0  0.32
305  610.0  611.1   1.320  0.390  0.87  0.00  0.0  0.06

[306 rows x 8 columns]

In [ ]:
df_leyes_depurado.to_csv(r"data\leyes.csv", index=False, header=True)

In [71]:
df_vetillas = pd.read_csv(r"C:\Users\house\Desktop\vetillas.csv", delimiter=',')
df_vetillas.drop(['Registro'], axis=1, inplace=True)
df_vetillas[['T4', 'A', 'B', 'ED', 'D']] = df_vetillas[['T4', 'A', 'B', 'ED', 'D']].apply(pd.to_numeric, errors='coerce').fillna(0).astype(int)
df_vetillas['Comentarios'] = df_vetillas['Comentarios'].fillna(0)
df_vetillas.head()

   Desde  Hasta  T4  A  B  ED  D Comentarios
0      0    8.0   0  0  0   0  0  Fracturado
1      8   10.0   0  2  0   0  2           0
2     10   12.0   0  4  0   0  8           0
3     12   14.0   0  6  2   0  4           0
4     14   16.0   0  1  0   0  6           0

In [76]:
df_vetillas.to_csv(r"data\vetillas.csv", index=False, header=True)

In [62]:
def ingresar_vetillas(df):
    time.sleep(1.5)
    for index, row in df.iterrows():
        #print(f"Procesando fila {index}: {row}")
        #print(f"Desde: {row['Desde']}, Hasta: {row['Hasta']}, % Sulf: {row['% Sulf']}")
        pyautogui.write(f"{row['Desde']}")
        pyautogui.press('space')
        pyautogui.write(f"{row['Hasta']}")
        pyautogui.press('space')
        pyautogui.write(f"{row['T4']}")
        pyautogui.press('space')
        pyautogui.write(f"{row['A']}")
        pyautogui.press('space')
        pyautogui.write(f"{row['B']}")
        pyautogui.press('space')
        pyautogui.write(f"{row['ED']}")
        pyautogui.press('space')
        pyautogui.write(f"{row['D']}")
        pyautogui.press('space')
        if row['Comentarios'] == 0:
            pyautogui.press('enter')
        else:
            pyautogui.write(f"{row['Comentarios']}")
            pyautogui.press('enter')

In [ ]:
ingresar_vetillas(df_vetillas)

In [75]:
screen_width, screen_height = pyautogui.size()
# Calcular las coordenadas absolutas para seleccionar la celda 'Desde':mineralizacion y comenzar con la secuencia
x_rel = 0.48
y_rel = 0.34
x = int(screen_width * x_rel)
y = int(screen_height * y_rel)
# Mover el mouse y realizar un clic
pyautogui.moveTo(x, y)

Pega el siguiente código en  la línea de comandos

pyinstaller --onefile --hidden-import=comtypes.stream --hidden-import=comtypes --add-data "C:\Python\Mapeo\data\leyes.csv;." --add-data "C:\Python\Mapeo\data\vetillas.csv;." leyes.py